<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=category%> products</title>
</head>
<body>
    <h1><%=category%> products</h1>
    <ul>
        <% for(prod of allProd){ %>
            <li> <a href="/products/<%= prod._id %>"><%= prod.name %></a></li>
        <% } %>
    </ul>
    <a href="/products/new">Add new product</a>
    <% if(category!=='All'){%>
        <br>
        <a href="/products">Go to all products</a>
        <% } %>
</body>
</html>