<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret</title>
</head>
<body>
    <h1>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea ipsam quos veniam possimus, illum facere numquam harum temporibus hic facilis earum vero blanditiis nisi incidunt laboriosam debitis dolor voluptas cum.
    </h1>
    <form action="/logout" method="post">
        <button>Logout</button>
    </form>
</body>
</html>