<% layout('layouts/boilerplate') %>
<h2><a href="/campgrounds/new">Add new campground</a></h2>
<h1>Campgrounds</h1>
<ul>
    <% for(let camp of campgrounds) { %>
        <li><a href="/campgrounds/<%= camp._id %>"><%= camp.title %></a></li>
    <% } %>
</ul>