<% layout('layouts/boilerplate') %>
<h1>New Campground</h1>
<form action="/campgrounds" method="POST">
    <label for="title">Title</label>
    <input type="text" name="campground[title]" id="title">
    <br>
    <label for="location">Location</label>
    <input type="text" name="campground[location]" id="location">
    <br>
    <button>Add Campground</button>
</form>
<br><br>
<footer><a href="/campgrounds">All campgrounds</a></footer>
