<% layout('layouts/boilerplate') %>
<h1>Campground Name - <%= camp.title %></h1>
<br>
<h2>Location - <%= camp.location %></h2>
<br><br>
<footer>
    <a href="/campgrounds/<%= camp._id%>/edit">Edit Campground</a>
    <br>
    <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
        <button
        style="
            background: none!important;
            border: none;
            font-size: 0.9em;
            color: red;
            padding: 0!important;
            text-decoration: underline;
            cursor: pointer;
            ">Delete Campground</button>
    </form>
    <br>
    <a href="/campgrounds">All campgrounds</a>
</footer>