<%- include('partials/head') %>
<%- include('partials/navbarTemp') %>
    <h1>Home <%= 9*10 %> </h1>
    <h1>Lorem ipsum dolor sit ex nisi sit repudiandae.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores earum repudiandae iste labore facere. Hic, neque ut, consequatur esse dolor provident aperiam laborum necessitatibus incidunt animi quae voluptates, impedit facere.
    Non totam rem suscipit ullam sit voluptatum perspiciatis nemo velit pariatur? Ut odit autem ipsam. Unde voluptatum facilis blanditiis officiis doloribus natus amet ut, asperiores, nulla ullam, dolore corporis in.</p>
<%- include('partials/footer') %>